body {
    color: #113;
}

.vertical-center {
    display: flex;
    align-items: center;
    min-height: 75vh;
}

.info-error {
    color: red;
}

.info-success {
    color: green;
}

a {
    text-decoration: none;
}