 <nav class="navbar navbar-expand-lg bg-body-tertiary"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="navbar-fragment">
     <div class="container-fluid">
         <a class="navbar-brand" href="/">Sweater</a>
         <button class="navbar-toggler"
                 type="button"
                 data-bs-toggle="collapse"
                 data-bs-target="#navbarSupportedContent"
                 aria-controls="navbarSupportedContent"
                 aria-expanded="false"
                 aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse"
              id="navbarSupportedContent">
             <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                     <a class="nav-link" aria-current="page" href="/">Home</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" aria-current="page" href="/messages">Messages</a>
                 </li>
                 <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                     <a class="nav-link" aria-current="page" th:href="@{/admin}">User list</a>
                 </li>
             </ul>
             <div sec:authorize="isAuthenticated()">
                 <form th:action="@{/logout}" method="post">
                     <input type="hidden"
                            th:name="${_csrf.parameterName}"
                            th:value="${_csrf.token}" />
                     <input type="submit"
                            value="Sign Out"
                            class="btn btn-outline-danger">
                 </form>
             </div>
             <div sec:authorize="isAnonymous()">
                 <label>Hello, Guest</label>
                 <a class="btn btn-outline-primary" th:href="@{/login}">Login</a>
             </div>
         </div>
     </div>
 </nav>