<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head th:include="/fragments/head.html :: head-fragment">
    <title id="page-title">Home</title>
</head>
<body>
    <th:block th:include="/fragments/navbar"/>
    <div class="container d-flex align-items-center justify-content-center mt-5">
        <div class="row">
            <div class="col-md-12">
                <h3>Hello, guest!</h3>
                <p> This is a simple site which created just to learn more about Spring Boot,
                    Spring Security and just understand the working principles.</p>
            </div>
        </div>
    </div>
</body>
</html>