<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head th:include="/fragments/head.html :: head-fragment">
    <title id="page-title">Login page</title>
</head>
<body>
    <header>
        <th:block th:include="~{/fragments/navbar}"/>
    </header>
    <div class="container">
        <div class="row vertical-center d-flex justify-content-center align-items-center">
            <div class="col-md-4">
                <form th:action="@{/login}" method="post" class="form-example">
                    <h1 class="h3 mb-3 fw-normal">Log In</h1>
                    <div th:if="${param.error}" class="info-error mb-3 alert alert-danger">
                        Invalid username or password!
                    </div>
                    <div th:if="${param.logout}" class="info-success mb-3 alert alert-success">
                        You have been logged out.
                    </div>
                    <div th:if="${messageSuccess != null}"
                         th:text="${messageSuccess}"
                         class="info-success alert alert-success"></div>
                    <div th:if="${messageError != null}"
                         th:text="${messageError}"
                         class="info-error alert alert-danger"></div>
                    <div class="mb-3">
                        <label for="username">User name:</label>
                        <input type="text" name="username" id="username" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"/>
                    <input type="submit" value="Sign In" class="btn btn-outline-primary mb-3 form-control">
                </form>
                <p>Don't have an account? <a th:href="@{/registration}">Register!</a> </p>
            </div>
        </div>
    </div>
</body>
</html>