<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head th:include="/fragments/head.html :: head-fragment">
    <title id="page-title">Messages</title>
</head>
<body>
    <header>
        <th:block th:include="/fragments/navbar"/>
    </header>
    <div class="container">
        <div class="form-row mb-3 mt-3">
            <div class="col-md-4 form-group">
                <form th:action="@{/messages}" method="get" class="form-inline d-flex">
                    <label for="tag"></label><input id="tag" type="text" name="filter" th:value="${filter}" class="form-control me-2" placeholder="Search tag">
                    <button type="submit" class="btn btn-primary">Search!</button>
                </form>
            </div>
        </div>
        <div class="form-row mb-3 mt-3">
            <div class="col-md-4 form-group">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Add new message
                </a>
                <div class="collapse" id="collapseExample">
                    <form th:action="@{/messages}" method="post" enctype="multipart/form-data">
                        <div class="form-group mt-3">
                            <input type="text"
                                   name="text"
                                   placeholder="Input your message here"
                                   id="message-field" class="form-control">
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" name="tag" placeholder="Tag" id="tag-field" class="form-control">
                        </div>
                        <div class="form-group mt-3">
                            <input type="file" name="file" class="form-control">
                        </div>
                        <input type="hidden"
                               th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}" />
                        <input type="submit" value="Add" class="btn btn-outline-success mt-3">
                    </form>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div th:each="message: ${messages}">
                <div class="card">
                    <div class="col">
                        <div th:if="${message.filename != null && !message.filename.isBlank()}">
                            <img th:src="'img/' + ${message.filename}" alt="file" class="card-img-top">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${message.tag}"></h5>
                            <p class="card-text" th:text="${message.text}"></p>
                        </div>
                        <div class="card-footer text-muted">
                            <i th:text="${message.authorUsername}"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>